h1 {
text-align: center;
}

.contact-info {
text-align: center;
}

.thumbnail {
  justify-content: center;
  width: 25px;
  height: 25px;
  display: inline;
}

.thumbnail img {
  width: 10%;
  height: auto;
  justify-content: center;
}
