body{
  font-family: verdana, helvetica;
  background-image: url(http://www.solidbackgrounds.com/images/1920x1080/1920x1080-blue-gray-solid-color-background.jpg);
  padding-left: 20px;
}

h1 {
text-align: center;
  font-family: verdana, helvetica;
  margin: 0;
}

.contact-info {
text-align: center;
  font-family: verdana, helvetica;
  margin:0;
  position: inline;
}

.personal-statement img { 
  transform: rotateY(180deg);
  position: inline;
  margin: 0
}

.personal-statement {
  margin: 0;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-color: darkgray;
}
  
